*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    height: 100vh;
}
.container{
    border: 1px solid black;
    height: 350px;
    width: 350px;
    text-align: center;
    margin: 10px;
    border-radius: 10px 10px 5px;

}
.header{
    background-color: blue;
 
    color: white;
  
  margin-bottom: 10px;
  padding: 15px;
}
.password-entre{
    margin-bottom: 5px;

}
.input{
    width: 85%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 5px;
    margin-bottom: 10px;
}
.copybutton{
    background-color: blue;
    font-size: large;
    color: antiquewhite;
    border-radius: 8px;
    font-weight: 150;
}

.setting{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 15px 15px;
    font-size: larger;
    font-weight: bold;
   
}
#checkclass{
    background-color: blue;
 
    color: white;
  
 
  padding: 11px;
  width: 100%;
  border: none;
  font-size: large;
  border-radius: 5px;

}

